!!! 5
html(lang="en")
  head
    title Rainbowbot
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/app.css")
    script(src="/javascripts/vendor/jquery-1.9.1.min.js")
    script(src="/javascripts/app.js")

    script(src="//use.typekit.net/cmb8ydt.js")
    script
      try{Typekit.load();}catch(e){}

  body
    .header
      hgroup
        h1 Rainbowbot

    .content
      block content