body {
  font-family: 'helvetica neue';
  padding: 40px;
}
h1 {
  font-family: "din-condensed-web";
  text-transform: uppercase;
  color: #ccc;
}
img {
  max-width: 640px;
  height: auto;
}
ul.hex {
  list-style: none;
  margin: 0;
  padding: 0;
  float: none;
  clear: both;
  overflow: hidden;
}
ul.hex > li {
  display: block;
  float: left;
  width: 80px;
  height: 30px;
  margin: 0 0 0 0;
}
